{% extends 'base.html' %}

{% block content %}


    <img style="width:50%;height:50%;float: right; padding-top: 50px; padding-left: 20px" src= '/static/images/stocks_image.jpg'>
    <h1 style="font-size: 24px; margin-top: 50px; text-align: center"> Lose the spreadsheet </h1>
    <p style="font-size: 18px; padding-top: 10px; text-align: justify; padding: 30px"> Stock Portfolio App makes high-quality investment tracking accessible and affordable to investors of all wealth levels. We help empower investors with the information athey need to achieve their personal financial goals.  We are powering the future of prtofolio management from web and mobile.
    </p>
    <p style= "font-size: 18px; padding-top: 10px; text-align: justify; padding: 30px">
        Stock Portfolio App treasures innovation and values simplicity. We thrive on the opportunities created by
        technology. We are a company that creates transparency and acts in the best interest of investors everywhere.
    </p>



{% endblock %}